html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.splash-page {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}



#bg-canvas {
    position: absolute;
    z-index: 0;
}

#ship-game {
    position: absolute;
    z-index: 10;
}

#player-screen {
    position: absolute;
    z-index: 20;
}

#input-section {
    position: absolute;
    z-index: 100;
    top: calc(100vh * (165/222));
    left: calc(100vw * (101/256));
    width: calc(100vw * (54/256));
    height: calc(100vh * (10/222));
}

#player-word {
    width: calc(100vw * (54/256));
    height: calc(100vh * (10/222));
    padding: 0;
    border: none;
    background: transparent;
    color: #5AC53A;
    text-align: center;
    font-size: calc(100vh * (7/222))
}



